<%- include partials/header %>

<div class="cover">
    <p>Here at smack talk we're all about more smackin' and less talkin'. There's no BS at our site. We want to get you to the recipes you love without the websites you hate. Gone are the days of reading through some rando bloggers entire life story. Enough talk, LETS EAT!</p>
</div>


<%- include partials/footer %> 