body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1 {
  text-align: center;
}

#container {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 2em;
  margin: 2em;
}

.right {
  border: 1px solid black;
}

.middle {
  border: 1px solid black;
}

.left {
  border: 1px solid black;
}