body {
  background-image: url('https://images.unsplash.com/photo-1557219278-3577a762a85f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60');
  background-size: cover;
  font: 23px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1 {
  text-align: center;
}

label {
  font-size: 25px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 3em;
  margin: 0 auto;
  margin-bottom: 5vh;
  max-width: 1000px;
  overflow: hidden;
}

.card {
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  height: auto;
  text-align: center;
}

p {
  padding: 10px;
}

.card-image {
  width: 100%;
  height: 30vh;
  display: block;
}

.content {
  line-height: 1.5;
  font-size: 0.9em;
  padding: 15px;
  background: #fafafa
}

.recipe-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 1000px;
  margin: 0 auto;
  gap: 2em;
}

.left {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: left;
  padding: 10px;
}

h1 {
  text-align: center;
  padding: 30px;
}

.add-recipe {
  text-align: center;
  margin: 0 auto;
}

.showbtn {
  margin: 0 auto;
}

.show-img {
  border-radius: 50%;
  width: 20vw;
  height: 35vh;
}

.image-container {
  border-radius: 50%;
  width: 20vw;
  height: 35vh;
  text-align: center;
}

.image-div {
  display: flex;
  justify-content: center;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(78, 153, 240);
  color: white;
  text-align: center;
}