<%- include ../partials/header %>
<div id="container">
    <div class="left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim ducimus corporis odit sint aperiam rem minus, sit minima reprehenderit nesciunt autem molestias exercitationem? Quia corporis animi a tempora, tempore labore.
    Voluptates fuga debitis iusto necessitatibus pariatur! Eius repellat animi possimus sint ex repudiandae nostrum ratione soluta minima, iste dicta enim. Officiis quos beatae eos repudiandae omnis nulla porro eum velit.
    Possimus consequuntur quo ipsa sequi dolores vel amet sit sint cupiditate. Quod, deserunt itaque cum eius fugiat blanditiis sit amet explicabo quisquam tenetur vitae minus aliquam consequuntur omnis sequi mollitia.
    </div>
    <div class="middle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem non dolore veniam recusandae ad odio facere placeat praesentium, cupiditate magnam quibusdam cum blanditiis. Exercitationem aperiam mollitia at accusantium officia dolor?
    Porro corrupti voluptatem nobis minima rem alias quia mollitia quasi repudiandae soluta, et suscipit cum, unde deserunt nam autem. Impedit dolore ut quam assumenda tempora beatae nam labore molestiae nulla.
    </div>
    <div class="right">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae illo, asperiores sed sunt neque saepe error velit cum. Facere sunt nostrum harum enim porro natus tempore necessitatibus totam sit quidem.</div>
</div>


<%- include ../partials/footer %> 