<%- include ../partials/header %>

    <div class="cards">
        <div class="card">
            <img src="/images/card-img.jpeg" alt="spaghetti" class="card-image">
            <div class="content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque rerum, corporis tenetur odio velit optio sint facilis fugit provident minus amet cupiditate fuga voluptate quas impedit quaerat, temporibus exercitationem vitae.</p>
            </div>
        </div>
        <div class="card">
            <img src="/images/card-img.jpeg" alt="spaghetti" class="card-image">
            <div class="content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque rerum, corporis tenetur odio velit optio sint facilis fugit provident minus amet cupiditate fuga voluptate quas impedit quaerat, temporibus exercitationem vitae.</p>
            </div>
        </div>
        <div class="card">
            <img src="/images/card-img.jpeg" alt="spaghetti" class="card-image">
            <div class="content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque rerum, corporis tenetur odio velit optio sint facilis fugit provident minus amet cupiditate fuga voluptate quas impedit quaerat, temporibus exercitationem vitae.</p>
            </div>
        </div>
        
    </div>

<%- include ../partials/footer %> 