<%- include ../partials/header %>
<form action="/recipes" method="POST">

  <div id="recipe-container">
    <div id="left">
      <label>Course:<br>
        <select name="course">
          <option value="Breakfast">Breakfast</option>
          <option value="Lunch">Lunch</option>
          <option value="Dinner">Dinner</option>
          <option value="Snack">Snack</option>
        </select>
      </label>
      <label>Image URL:<br>
        <input type="text" name="image">
      </label>
      <label>Title:<br>
        <input type="text" name="title">
      </label>
      <label>Servings:<br>
        <input type="text" name="servings">
      </label>
      <label>Prep Time(mins):<br>
        <input type="text" name="prepTime">
      </label>
      <label>Cook Time(mins):<br>
        <input type="text" name="cookTime">
      </label>
    </div>

    <div id="middle">
      <div>
        <label>Directions:
          <textarea name="directions" id="directions-area" cols="30" rows="12" placeholder="ex: 1. Bring water to a boil"></textarea>
        </label>
      </div>
    </div>

    <div id="right">
      <label>Ingredients:
        <textarea name="ingredients" id="ingredients-area" cols="30" rows="12" placeholder="ex: 1 lb chicken"></textarea>
      </label>
    </div>
    <input id="add-recipe" type="submit" value="Add Recipe">
  </div>
</form>

<%- include ../partials/footer %> 